[user]
    name = Yanick Egli
    email = {{ .email_private }}
    signingkey = 792A29606119E2B8365E871B2F861421286ACF01

[commit]
    gpgsign = true

[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519_private
