[user]
    name = {{ .name }}
    email = {{ .email_private }}
    signingkey = BF2588A3D74BD253D35745679CCA22896ED60D92

[commit]
    gpgsign = true

[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519_private
