[includeIf "gitdir:~/_code/ost/"]
    path = ~/.gitconfig-uni
[includeIf "gitdir:~/_code/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:~/_code/private/"]
    path = ~/.gitconfig-private

[push]
    autoSetupRemote = true

